div {
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  button {
    display: flex;
    align-items: center; /* Align items vertically center */
    justify-content: center; /* Center content horizontally */
    gap: 0.5rem;
    padding: 0.35rem 0.5rem;
    background-color: #232631;
    color: #ffffff;
    border: none;
    font: inherit;
    cursor: pointer;
    width: 100%;
    min-width: 10rem;
    text-align: center; /* Center text within the button */
    margin-bottom: 5px;
  }

  button:hover,
  button:active,
  .active {
    background-color: #8c9ca5;
    color: #ffffff;
  }

  img {
    width: 2rem;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }

  span {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: normal;
  }
